.input_container {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: auto;
  gap: 5px;
}

.label_content {
  outline: none;
  border: none;
  background-color: white;
  display: block;
  font-size: 18px;
  color: #3f3d3d;
}

.input_content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}