.button_component {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 20px 54px 20px 54px;
  height: 70px;
  width: 100%;
  background-color: #1f27f5;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.button_component:hover {
  background-color: rgb(104, 104, 233);
}