.feedback_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  width: 600px;
  height: fit-content;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.like_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.like_dislike{
  display: flex;
  height: fit-content;
  gap: 30px;
}

.resset {
  width: 100%;
}

.count {
  display: flex;
  font-size: 60px;
  font-weight: bold;
}