.feedback_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 600px;
  height: fit-content;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.button_container {
  display: flex;
  gap: 15px;
}

.button_control {
  width: 150px;
  border: none;
  border-radius: 20px;
}

.count {
  display: flex;
  font-size: 60px;
  font-weight: bold;
}