.person_card {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 300px;
  max-height: fit-content;
  border: 1px solid black;
  border-radius: 6px;
  padding: 30px;
  color: black;
  background-color: white;
  gap: 30px;
}

.card_title {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: bold;
  color: rgb(0, 128, 21);
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 350px;
  border-radius: 20%;
}

.person_info {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.label {
  color: red;
}

.person_card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
